@font-face {
       font-family: "Graphik Web";
       src: url("Graphik-Regular-Web.woff2") format("woff2"),
            url("Graphik-Regular-Web.woff") format("woff");
       font-weight: 700;
       font-style: normal;
       font-stretch: normal;
}
html, body{
	background-color: #ffff40;
	margin: auto;
	width: auto;
	height: auto;
}
.sentence1{
	position: absolute;
	font-family: Graphik;
	z-index: 1; 
	left:3%;
	bottom: 90%
}

.sentence2{
	position: absolute;
	font-family: Graphik; 
	z-index: 1;
	transform: rotate(-90deg);
	left:80%;
	top: 50%;
}
.sentence3 img{
	position: absolute;
	width: 45%;
	right: 60%;
	top: 55%;
}
.img1 img{
	position: absolute;
	width: 15%; 
	left: 16%;
	top: 15%;
}
.img1 img:hover{
	opacity: 0;
}
.img2 img{
	position: absolute;
	width: 15%; 
	right: 42%;
	top: 15%;

}
.img2 img:hover{
	opacity: 0;
}
.img3 img{
	position: absolute;
	width: 15%;
	left: 70%;
	top: 15%
}
.img4 img{
	position: relative;
	width: 15%; 
	left: 16%;
	top: 15%;
}
.img5 img{
	position: relative;
	width: 15%; 
	right: 42%;
	top: 15%;

}
.img6 img{
	position: relative;
	width: 15%;
	left: 70%;
	top: 15%
}